<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bilauppbod Scraper</title>
  <link rel="stylesheet" href="styles.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <h3 classs="title">Web Scraper</h3>
  <button class="status-btn" type="button">Get status</button> 
  <button class="config-btn" type="button">Reset timer</button>
  <input type="text" id="timer-input"  class= "invalid" name="timer-input" title="Enter amount of seconds" pattern="[0-9]{6}" value="<%= scraperConfig.interval %>">

  <p><strong>Last check data:</strong></p>
  <div class="check-data">
    <p>Last check: <%= state.date %>.</p>
    <p>Url count: <%= state.urlCount %>.</p>
    <p>New url count: <%= state.newUrls.length %>.</p>
    <p>New url list:
       <%= state.newUrls.join(' | ') %></p>
  </div>

  <div class="check-logs"></div>
  
  
  <script type="module" src="index.js"></script>
</body>
</html>